<div ng-controller="BhaskaraController">
      <p>
        Preenchem 3 campos (a, b, c):
      </p>
      <label>a</label> <input type="number" ng-model="a">
      <label>b</label> <input type="number" ng-model="b">
      <label>c</label> <input type="number" ng-model="c">
      <button ng-click="resultarBhaskara()">calcular</button>
      <br>
      <p>Demonstrar:<br>
        {{ a | sinalA }}{{ b | sinalB }}{{ c | sinalC }}=0</p>
        <p>
          Resultar:<br>
            x1= {{ x1 | sinalPositivoComZero }}<br>
            x2= {{ x2 | sinalPositivoComZero }}
        </p>
</div>
